@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-color {
    background-color: #192C38;
}

.home-color {
    background-color: #0F212E;
}

.vip-text {
    color: #b1bad3;
}
.progress-bar {
    background-color: #1fff20;
}

.stars-color {
    color: #8E7659;
}

.background-balance {
    background-color: #0F212E;
}